.center{
	text-align: center;
}

.profile-header-img > img.img-circle {
    width: 240px;
    height: 240px;
}

.info{
	font-size: 16px;
}

.main-info{
	font-size: 16px;
	margin-left: 5%;
	margin-right: 5%;
	margin-bottom: 10px;
}

.strong{
	font-weight: bold;
}


.link{
	margin-right: 15px;
}